body {
  margin: 0;
  height: 100vh;
    display: grid;
    grid-template-columns: 600px 4fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 5px;
    font-family: cursive;
    font-size: x-large
}

section {
  display: flex;
}

nav {
  display: flex;
flex-direction: row;
justify-content: space-between;

  height: 50PX;
  background-color: #63d629;
}

nav div {
  font-size: 23px;
margin: 8px 30px 8px 30px;
  color: #FFFFFF;
  cursor: pointer;
  
}

nav div:hover {
  color: black;

}

nav section {
  display: flex;
}

img {
  display: flex;
  width: 280px;
  height: 425px;
  opacity: 1;
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  background-color: rgb(230, 248, 222);
}

main {
  background-color:rgb(230, 248, 222);
  display: flex;
}

footer {
  background-color: #63d629;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav, footer, a {
  grid-column: span 2;
}
  

  
  
