body {
  margin: 0;
  height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 5px;
    font-family: cursive;
    font-size: x-large
}

section {
  display: flex;
}

nav {
  display: flex;
flex-direction: row;
justify-content: space-between;

  height: 50PX;
  background-color: #63d629;
}

nav div {
  font-size: 23px;
margin: 8px 30px 8px 30px;
  color: #FFFFFF;
  cursor: pointer;
  
}

nav div:hover {
  color: black;

}

nav section {
  display: flex;
}

aside {
  background-color: #63d629;
  opacity: .15
}

main {
  background-color: #63d629;
  opacity: .15
}

footer {
  background-color: #63d629;
  cursor: pointer;
}

footer:hover {
  color: white;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav, footer {
  grid-column: span 2;
}
  
  
  
